# API keys 
/keys

# Python Directories and files
.venv/

*.pyc
__pycache__/
.*/__pycache__

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Flask specfic files 
.flaskenv

# Bash Shell Environment 
workshop-mailer/env.sh
*.csv